//navigation Dropdown
.dropdown {
  z-index: 2;
  position: absolute;
  left: 25px;
  cursor: pointer;
  width: 95%;

  .dropdown-button {
    padding: 15px;
    color: @primary-colors;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-right: 20px;

    &:hover {
      background-color: @secondary-color;
    }
  }

  .dropdown-content {
    .borders;
    width: 15%;
    background-color: @forth-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    top: 100%;
    right: 0;

    @media @mobile {
      height: 250%;
      width: 90%;
    }

    .dropdown-link {
      width: 100%;
      text-align: center;
      padding: 12px 16px;
      font-size: 16px;
      text-decoration: none;
      color: @primary-colors;
      border-bottom: 1px solid @fifth-color;

      &:hover {
        color: @secondary-color;
        background-color: @fifth-color;
      }
    }
  }
  .dropDown-hidden {
    display: none;
  }
  @media @mobile {
    height: 80px;
    width: 90%;
  }
}

/// nav bar
.navBar {
  width: 100%;
  height: 10vh;
  background: @headerColor;
  z-index: 1;

  .logo {
    display: flex;
    text-decoration: none;
    color: @secondary-color;
    justify-content: end;
    padding: 2vh;
    margin-right: 15px;
    z-index: 2;
    float: left;
  }
}
/// content and banner
.bannerIMG {
  display: flex;
  height: 50vh;
  justify-content: center;
  background-color: @op-color;
  width: 100%;
  opacity: 0.7;
  @media (max-width: 1000px) {
    height: 300px;
  }

  @media (max-width: 500px) {
    height: 200px;
  }
}

.container-about {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background: @main-background;
  color: @h2-text;

  h1 {
    margin-top: 30px;
    text-align: center;
    padding: 30px 40px;
    text-shadow: 2px 3px 2px @headerColor;
  }

  h2 {
    padding: 10px 20px;
  }

  p {
    justify-content: center;
    font-size: 2rem;
    padding: 20px;
  }

  @media (max-width: 500px) {
    width: 100%;

    h1 {
      margin-top: 5px;
      padding: 20px 30px;
      font-size: 3rem;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
