// Here create variables to help with color palette
// main color palette

@main-background: #F8F8F8;
@h2-text: #393742;
@headerColor: #F4AC45;
@color-text: #6B7772;

// fonts..
@header-font: 'Pacifico', cursive;
@text-font: 'Sniglet', cursive;