// Here create variables to help with color palette
// main color palette

@main-background: #f8f8f8;
@h2-text: #393742;
@headerColor: #f4ac45;
@color-text: #6b7772;
@op-color: #c5cbd3;

// fonts..
@header-font: "Pacifico", cursive;
@text-font: "Sniglet", cursive;

//colors
@primary-colors: ;
@secondary-color: ;
