// Here create variables to help with color palette
// main color palette

@main-background: #f8f8f8;
@h2-text: #393742;
@headerColor: #dabe96;
@color-text: #6b7772;
@op-color: #977d6e;
@footer-color: #7c7c7c;

// fonts..
@header-font: "Pacifico", cursive;
@text-font: "Sniglet", cursive;

//colors
@primary-colors: #020201;
@secondary-color: #5d4237;
@third-color: #977d6e;
@forth-color: #c5b6c5;
@fifth-color: #d4d4d4;
@sixth-color: #f0f0f0;
@seveth-color: #c3c3c3;

//media
@mobile: (max-width 500px);
@desktop: (max-width 1000px);
@tablet: (max-width 800px);
